[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml
[submodule "subprojects/asp_db"]
	path = subprojects/asp_db
	url = https://github.com/korteelko/asp_db
[submodule "lib/asp_utils"]
	path = subprojects/asp_utils
	url = https://github.com/korteelko/asp_utils.git
