[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml
[submodule "lib/libpqxx"]
	path = lib/libpqxx
	url = https://github.com/jtv/libpqxx
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson
